@import "tailwindcss";

:root {
  color: #e0e6ff;
  background-color: #4d5c7c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-satoshi: "Satoshi", sans-serif;
}

@theme {
  --font-notoserif: "NotoSerif", serif;
}

body {
  font-family: var(--font-satoshi);
}
